body, html {
    height: 100%;
    margin: 0%;
    scroll-behavior: smooth;
}
@media screen and (max-width: 600px) {
  body{
    margin: 1%;
  }
}

@media screen and (max-width: 600px) {
  .row{
    border: none;
  }
}
.parallaxHome {
    /* The image used */
    background-image: url("cover.gif");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    filter: alpha(opacity=50);

}
@media screen and (max-width: 600px) {
  .parallaxHome{
    height: 90%;
  }
}
#homeSection{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0%;
    top: 50%;
    left: 50%;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media screen and (max-width: 600px) {
  #homeSection{
    height: 82%;
  }
}
#aboutSection{
    width: 100%;

}
#aboutSectionimg{
    height: 100%;
    width: 100%;
}
#aboutColBg{
    padding-left: 19%;
    margin-right: 2%;
}

#aboutColBg h1{
    font-family: Ostrich Sans-black;
    margin-top: 4%;
    text-align: left;
    font-weight: bold;
}
#aboutColBg p{
    font-family: monospace;
    text-align:left;

}
#aboutColBg a{
    font-family: monospace;
}
.parallaxAbout {
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 20%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.parallaxAbout h1{
    text-align: center;
    padding-top: 3%;
    margin: 1%;
    color: black;
    font-weight: bolder;
    font-size: 40px;
}
#serviceRow{
    margin: auto;
    padding: 5%;
    text-align: center;
}
#myInput{
    border: none;
    color: white;
}
.panel-heading{
    text-align: center;
    font-family: monospace;
    font-size: small;
    font-weight: bolder;
    margin: auto;
    padding-top: 1px;
   
}

#contactSection{
    width: 100%;
}
#contactSectionCol{
    margin-top: 3%;
}
#serviceRow{
    width: 100%;
}

.nav-link{
    font-family: Ostrich Sans-regular;
    color: black;
    font-size: x-large;
}
@media screen and (max-width: 600px) {
  .nav-link{
   font-size: xx-large;
  }
}
#homeSection p{
    font-family: Ostrich Sans-black;
    color: white;
    font-style: italic;
    float: right;
    margin: 10px;
}
#homeSection h1{
    font-family: Ostrich Sans-bold;
    padding-top: 18%;
    font-size: 6.5vw;
}
#gmail{
    font-family: Ostrich Sans-regular;
    color: white;
}
.power{
    font-family: Ostrich Sans-black;font-size: smaller;font-weight: bolder;margin-left: 80%;margin-right: 10%;
}
@media screen and (max-width: 600px) {
  .power{
    text-align: center;
    margin-left: 0%;margin-right: 0%;
  }
}
@media screen and (max-width: 600px) {
  .containerr{
    height: 70px;
  }
}